@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


body {
    background: linear-gradient(45deg, #f7a64a, #e90707);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 20px auto;
}

.profile-header {
    background-color: #e90707;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-header h1, .profile-header h2 {
    margin: 5px 0;
    font-family: "Rubik Doodle Shadow", sans-serif;
}

.profile-body {
    padding: 20px;
}

.profile-body p {
    color: #333;
}

.profile-body h3 {
    margin-top: 15px;
    color: #555;
}

.profile-body ul {
    list-style-type: none;
    padding: 0;
}

.profile-body li {
    margin-bottom: 5px;
}

.profile-footer {
    text-align: center;
    padding: 20px;
}

.profile-footer img {
    max-width: 100%;
    border-radius: 5px;
}